[2019-05-10 18:18] leonstafford opened #1 "error string unformatted"
this seemed to lack the usual pretty feedback:

https://circleci.com/gh/WP2Static/wp2static/493

https://github.com/WP2Static/wp2static/pull/398/commits/c244af202a301c1ce9b6795c249b854f0b5c07fd

https://github.com/WP2Static/wp2static/blob/c244af202a301c1ce9b6795c249b854f0b5c07fd/wp2static.php#L92

and / or

https://github.com/WP2Static/wp2static/blob/c244af202a301c1ce9b6795c249b854f0b5c07fd/wp2sta

[2019-05-10 18:54] szepeviktor commented on #1
This is an example for what to ignore if use WP-CLI and prove a class as a callbakc https://github.com/szepeviktor/phpstan-wordpress/blob/master/example/phpstan.neon#L29-L30

[2019-05-10 18:55] szepeviktor commented on #1
If you don's see this phpstan error just remove it from the neon file!

[2019-05-10 18:55] #1 closed

[2019-05-11 17:09] leonstafford commented on #1
Many thanks - I will read the output better next time!

[2019-06-28 20:23] szepeviktor opened #4 "WooCommerce version 3.6.1 has known invalid PHPDoc blocks"
1. run https://github.com/szepeviktor/phpstan-wordpress/blob/master/stub-generators/wc-generate-stubs.sh
1. replace WC_Error -> WP_Error in tests/phpstan/woocommerce-stubs-3.6.1.php:193
1. remove pipe sign `|` from tests/phpstan/woocommerce-stubs-3.6.1.php:59246

Done!

[2019-07-20 12:52] #4 closed

[2019-10-07 21:32] davidshq opened #8 "File phar://phpstan.phar/conf/bleedingEdge.neone is missing or not readable"
I was following Tom McFarlin's directions for PHPStan found here:
https://tommcfarlin.com/better-wordpress-code-4/

This worked. But he referenced your extensions for PHPStan so I tried adding them following your directions:
https://packagist.org/packages/szepeviktor/phpstan-wordpress

Here is my composer.json file (.txt appended to get Github to allow upload):
[composer.json.txt](https://github.c

[2019-10-07 21:41] szepeviktor commented on #8
Hello @davidshq !

If you don't use the PHAR distribution of phpstan (`phpstan/phpstan-shim`) please use the commented out line https://github.com/szepeviktor/phpstan-wordpress/blob/master/example/phpstan.neon.dist#L5 - not the one beginning with `phar://`

[2019-10-07 21:42] szepeviktor commented on #8
You should customize phpstan.neon.dist, it just a general example.

[2019-10-07 21:49] davidshq commented on #8
Thanks, I'm just experimenting with PHPstan now, after doing as you noted above it now works correctly!

[2019-10-07 21:49] #8 closed

[2019-10-07 22:00] szepeviktor commented on #8
You're welcome.

[2019-12-06 18:26] mallardduck opened #9 "Repo using PHP-Stubs org instead of giacocorsiglia"
https://github.com/szepeviktor/phpstan-wordpress/blob/e17269d3a89697f1f1ef145b7de158628137b426/src/Composer/FixWpStubs.php#L12

[2019-12-06 18:42] szepeviktor commented on #9
Using stubs from https://github.com/php-stubs does not need any modification.

[2019-12-06 18:42] #9 closed

[2020-01-29 15:13] szepeviktor opened #11 "Unhook WP_Embed::autoembed filter"
@jenkoian asked a question to remove this core hook.

[code]

by adding `remove_filter( 'the_content', [ $GLOBALS['wp_embed'], 'autoembed' ], 8 );`

[2020-01-29 15:14] szepeviktor commented on #11
The solution is

[code]

[2020-01-29 15:14] #11 closed

[2020-05-04 09:44] flip111 opened #13 "does not work with globally installed phpstan"
I have phpstan installed with `composer global require phpstan/phpstan`

My config file is this
[code]

Then i get this error
[code]

[2020-05-04 10:10] szepeviktor commented on #13
Yes, phpstan-wordpress expects itself and core stubs beside PHPStan
https://github.com/szepeviktor/phpstan-wordpress/blob/master/extension.neon#L28

[2020-05-04 10:12] szepeviktor commented on #13
You could go two ways.

1. install `szepeviktor/phpstan-wordpress` globally
1. copy `vendor/szepeviktor/phpstan-wordpress/extension.neon` and modify the paths in it

[2020-05-04 10:12] #13 closed

[2020-05-04 10:13] flip111 commented on #13
Maybe `%rootDir%` can be changed to `%dir_where_phpstan_config_file_is%` ? And then make path `%dir_where_phpstan_config_file_is%/vendor/php-stubs/wordpress-stubs/wordpress-stubs.php`

[2020-05-04 10:15] szepeviktor commented on #13
Yes, that is a third way.

[2020-05-04 10:26] szepeviktor commented on #13
@flip111 Actually when you require `szepeviktor/phpstan-wordpress` locally it will grab PHPStan too!

So you are free to issue `vendor/bin/phpstan analyze`

[2020-05-04 10:36] flip111 commented on #13
I made up this variable `%dir_where_phpstan_config_file_is%` it probably doesn't exist. Do you know where `%rootDir%` is defined? Then i could have a look in the code if other variables for paths are also defined.

[2020-05-04 10:39] szepeviktor commented on #13
A quick search in phpstan/phpstan-src shows https://github.com/phpstan/phpstan-src/blob/37c29d575ad293e97d3c068da008d8238b9826fa/src/DependencyInjection/ContainerFactory.php#L31-L39

[2020-05-04 10:41] flip111 opened #14 "phpstan does not run because it can't open wp-config.php"
From this line https://github.com/wp-plugins/schreikasten/blob/master/feed.php#L3

I get an error

[code]

Maybe this is "normal" for phpstan. But `vimeo/psalm` i can just load `vendor/php-stubs/wordpress-stubs/wordpress-stubs.php` as stubs file and the analysis runs without problems. This is likely due to a design decision of phpstan itself, but i wanted to report it here first because this packa

[2020-05-04 10:43] szepeviktor commented on #13
AFAIK simply removing absolute path makes it relative to the configuration file itself :)

[code]

becomes:

[code]

[2020-05-04 10:47] flip111 commented on #13
I was doing this quick search before and i didn't get results. Don't know what i did wrong :(

Also relevant

https://github.com/phpstan/phpstan-src/blob/37c29d575ad293e97d3c068da008d8238b9826fa/src/Command/CommandHelper.php#L162

https://github.com/phpstan/phpstan-src/blob/f4a9d5f2f71e4615f03d2f6ca8f8fe184a936846/src/DependencyInjection/LoaderFactory.php#L42

looks like it's just `rootDir` and `c

[2020-05-04 10:49] szepeviktor commented on #14
Please come with me to a bird's-eye view:

1. one does not introduce custom entry points (`feed.php`) in a WordPress plugin
1. when one does core should be loaded by require-ing `wp-load.php`, see https://github.com/wp-plugins/schreikasten/blob/master/feed.php#L3
1. files containing no definitions - e.g. `feed.php` - should not be in `autoload_files:`
1. files containing no definitions are simply

[2020-05-04 10:49] #14 closed

[2020-05-04 10:59] flip111 commented on #14
I'm totally new to wordpress so i don't have the wp bird's-eye view yet :(

I found this plugin and i'm trying to give some love to it to make it more 2020.

What does one do instead? I will try to fix it that way in the plugin.

What does it mean to "do core"?

What kind of definitions? Classes only?

Yes it helps a lot, thank you !

[2020-05-04 11:03] flip111 commented on #13
From the answer to #3244 i got that this should work just as well

`/../php-stubs/wordpress-stubs/wordpress-stubs.php`

Is it ok to change this in `extension.neon` ?

[2020-05-04 11:05] ondrejmirtes commented on #13
@flip111 Your problem is that you've installed `phpstan/phpstan` globally in your OS, but `php-stubs/wordpress-stubs` locally in your project. You should never mix those two as installing this extension also installed `phpstan/phpstan` in your project anyway.

@szepeviktor You can fix this by:

1) Changing `%rootDir%/../../szepeviktor/phpstan-wordpress/bootstrap.php` to `bootstrap.php` - great sim

[2020-05-04 11:40] szepeviktor commented on #14
Use an existing entry point https://github.com/szepeviktor/WPHW/blob/master/wp-entry-points.md

e.g. `/wp-admin/admin-post.php` - it says: "WordPress Generic Request (POST/GET) Handler"

[2020-05-04 11:42] szepeviktor commented on #14
it was _when one does THEN core should be loaded by require-ing wp-load.php,_

[2020-05-04 11:50] szepeviktor commented on #14
Please see https://www.php-fig.org/psr/psr-1/#23-side-effects for that.

[2020-05-04 12:07] flip111 commented on #14
great repository !!

[2020-05-28 11:47] Mte90 opened #15 "Missing global constants"
You can see on https://github.com/WPBP/WordPress-Plugin-Boilerplate-Powered/ that don't find the `WP_PLUGIN_DIR` https://codex.wordpress.org/Determining_Plugin_and_Content_Directories

[2020-05-28 12:02] szepeviktor commented on #15
Yes, I see.

As core does not provide a function for it, you should define it in `tests/phpstan/bootstrap.php` an autoload it

[code]

Is it okay for you?

[2020-05-28 12:05] szepeviktor commented on #15
BTW In a WordPress plugin `load_plugin_textdomain` is the proper function to use.

https://github.com/WPBP/WordPress-Plugin-Boilerplate-Powered/blob/632518b44d6120f466e4ec3540be84e2790606c7/plugin-name/plugin-name.php#L49

https://developer.wordpress.org/reference/functions/load_plugin_textdomain/

[2020-05-28 12:38] Mte90 commented on #15
I have to improve that part :-)
About phpstan i will do it.

[2020-05-28 12:56] szepeviktor commented on #15
Okay.

[2020-05-28 12:56] #15 closed

[2020-06-08 10:19] Mte90 opened #16 "autoload_files is deprecated since phpstan 0.12.26"
Check docs https://phpstan.org/user-guide/discovering-symbols
So now is not possible to use this and maybe also phpstan-phpdoc

[2020-06-08 10:28] szepeviktor commented on #16
Have you tried latest phpstan + phpstan-wordpress?

[2020-06-08 10:30] szepeviktor commented on #16
[code]

[2020-06-08 10:30] Mte90 commented on #16
Yes right now :-)
If one of the config files use `autoload_files` there is an error reporting this and in CI is very uncomfortable to get that.
The new version has a better reflection system and should works better with stuff legacy like wordpress.

[2020-06-08 10:36] szepeviktor commented on #16
Try adding `"phpstan/phpstan": "^0.12.0 <0.12.26"`
or simply `"phpstan/phpstan": "0.12.25"` to your `composer.json`

[2020-06-08 12:07] szepeviktor commented on #16
@Mte90 here is the response from @phpstan's author https://github.com/phpstan/phpstan/issues/3410#issuecomment-640543460

[2020-06-08 12:07] #16 closed

[2020-06-08 13:06] ondrejmirtes commented on #16
Using `"^<0.12.26"` is bad advice. This is the correct solution: https://github.com/szepeviktor/phpstan-wordpress/pull/17

[2020-06-08 21:28] ondrejmirtes commented on #16
A new release version 0.6.1 was tagged with this problem fixed. Thank you.

[2020-08-18 01:49] leoloso opened #19 "Access to an undefined property WP_Post_Type::$template_lock"
In level 2, this code:

[code]

is throwing this error:

[code]

This property is documented here: https://developer.wordpress.org/block-editor/developers/block-api/block-templates/#locking

Should this be already handled by `phpstan-wordpress`?

[2020-08-18 02:10] szepeviktor commented on #19
Hello Leonardo! Thank you for your report!

WordPress core _forgot about_ defining this property in `WP_Post_Type` :)
https://developer.wordpress.org/reference/classes/wp_post_type/
`template_lock` is simple checked in `wp-admin/edit-form-blocks.php`

Please consider opening a new ticket about it at https://core.trac.wordpress.org/ :)

[2020-08-18 02:10] #19 closed

[2020-08-18 02:11] leoloso commented on #19
OK!

[2020-08-18 02:12] szepeviktor commented on #19
MEanwhile

[code]

[2020-08-18 02:12] leoloso commented on #19
Great, thanks :)

Fixing all my phpstan errors now, going up to level 5

[2020-09-03 18:18] dingo-d opened #20 "Constant FS_CHMOD_FILE not found."
When running the scan over a filesystem operation I got the

[code]

The code in question looks like this:

[code]

The docs recommend adding a `constants.php` file that would be bootstraped during the scan. But that kinda seems like overkill IMO.

Could this be added to `wordpress-stubs` and then let phpstan read WP globals from there?

[2020-09-03 18:29] szepeviktor commented on #20
Hello Denis!

- core constant should not be used in plugins/themes
- see `php-stubs/wordpress-globals`: https://github.com/php-stubs/wordpress-globals/blob/master/source/wp-admin/includes/file.php

[2020-09-03 18:31] szepeviktor commented on #20
`wordpress-stubs` won't ever have constants as that would encourage uses to use core constants.

`php-stubs/wordpress-globals` is a _come-by-chance_

[2020-09-03 19:11] dingo-d commented on #20
The above pattern was something I found 3 years ago in the codex so I used it. Do you any advice on what should I use instead? Just leave it empty (I think the default is `false`)?

`FS_CHMOD_FILE` is useful, because it will read the permissions of the base `index.php` file.

I've added the global stubs, but I keep getting

[code]

Not sure why.

[2020-09-03 19:28] szepeviktor commented on #20
Try adding only

[code]

[2020-09-03 19:42] szepeviktor commented on #20
@dingo-d You are welcome to send a PR to remove stub already included in the PHPStan Extension from that package.
https://github.com/szepeviktor/phpstan-wordpress/blob/d3ff2a9c0f3c336f352061524253c79ccc5ae30f/bootstrap.php#L7-L32

[2020-09-04 12:48] dingo-d commented on #20
This did the trick, thanks!

When removing the constants from the bootstrap, should the `php-stubs/wordpress-globals` be required in the `composer.json`? Or recommended during installation?

[2020-09-04 12:48] #20 closed

[2020-09-04 12:51] szepeviktor commented on #20
Yes! Only there.

[2020-09-04 12:59] szepeviktor commented on #20
You're welcome!

I've tried twice to answer but I couldn't understand your question.

[2020-09-04 13:07] dingo-d commented on #20
Because the constants would be removed from the `phpstan-wordpress`, then the package `php-stubs/wordpress-globals` should be added as a package. Because I'm not 100% how your package works, I'm not sure if the package `php-stubs/wordpress-globals` should be required, or just recommended when installing `phpstan-wordpress`.

Does this make more sense? :D

[2020-09-04 13:18] szepeviktor commented on #20
Then I was misleading!

In https://github.com/szepeviktor/phpstan-wordpress/issues/20#issuecomment-686716624 I was proposing to remove constant from `phpstan-wordpress`, not `php-stubs/wordpress-globals`

`php-stubs/wordpress-globals` is a package I never suggest to anyone except when asked for!!

I though you could send a PR that remove the constants that are present in `phpstan-wordpress/bootstr

[2020-09-04 13:20] dingo-d commented on #20
Oh, so it's another way around! 😂

[2020-09-17 10:52] dingo-d opened #22 "Early return not recognized in the case of `\WP_CLI::error`"
Hi!

I have a method

[code]

And I'm getting an error

[code]

But above the `json_decode` there is a check

[code]

And `\WP_CLI::error` will `exit()` out, and terminate script execution.

[2020-09-17 11:02] szepeviktor commented on #22
I have a hammer :)

[2020-09-17 11:07] szepeviktor commented on #22
Please examine WP-CLI's source and add terminating functions and methods here
https://github.com/szepeviktor/phpstan-wordpress/blob/master/extension.neon#L35
For methods: https://phpstan.org/writing-php-code/solving-undefined-variables

[2020-09-21 07:38] #22 closed

[2020-10-06 13:43] swissspidy opened #24 "Detect wp_die exit arg"
`wp_die` is listed in `earlyTerminatingFunctionCalls`, which is fine by default.

However, when passing `[ 'exit' => false ]` as the third param, it won't terminate early.

Is detection for this possible using a custom extension?

[2020-10-06 13:46] szepeviktor commented on #24
Hello Pascal!
Yes, everything is possible.

A quote from the readme:

![kép](https://user-images.githubusercontent.com/952007/95209835-1373d780-07eb-11eb-8304-4f67c04e64bc.png)

Please never use the `exit` parameter :)

[2020-10-06 13:48] szepeviktor commented on #24
Currently it takes 2 lines of config.

https://github.com/szepeviktor/phpstan-wordpress/blob/b931433daa21e7e757d93906283337c1be174f21/extension.neon#L39-L40

Writing a PHPStan service takes 3 000 000 lines :)

[2020-10-06 13:51] szepeviktor commented on #24
Even disco dancing is possible :) https://youtu.be/jS0_RqBQc50?t=17

I'd like to keep this extension sustainable and not target everyone with it.
That section in the README is there for a reason.

[2020-10-06 13:56] swissspidy commented on #24
Wouldn't using `wp_die` with `exit => false` _improve_ testability though?

[2020-10-06 14:08] szepeviktor commented on #24
Simply override the handler :)
https://github.com/WordPress/WordPress/blob/5f62cd1566d27be22d961c2a9af31f077efdecf7/wp-includes/functions.php#L3320-L3391

[2020-10-06 14:08] #24 closed

[2020-10-06 14:18] swissspidy commented on #24
I don't need to override the handler when `_default_wp_die_handler` supports the `exit` arg 🤔

https://github.com/WordPress/WordPress/blob/5f62cd1566d27be22d961c2a9af31f077efdecf7/wp-includes/functions.php#L3590-L3592

[2020-10-06 14:28] szepeviktor commented on #24
I don't have to write testable code 🤯

[2020-10-06 14:30] szepeviktor commented on #24
I think you do understand what testable code means.

Although you may not like the restrictions that come out of it.

[2020-10-21 11:43] andreasciamanna opened #26 "The extension seems to not be working with phpstan/extension-installer"
Here is my **global** `composer.json`:

[code]

(I'm not using `giacocorsiglia/stubs-generator` at the moment, but it's installed in case I need to generate some stubs)

My inspection fails on a file where line &numero;2 is `if(is_admin() || defined('XMLRPC_REQUEST')):`.

The error is `Function is_admin not found.`.

In fact, this and many other files produce similar errors multiple times for basi

[2020-10-21 11:47] szepeviktor commented on #26
Thank you for the report!
Please share your `phpstan.neon` file. I think something is missing/in wrong order.

[2020-10-21 11:52] szepeviktor commented on #26
And please remember that you have to pay the price of static analysis: write testable code :)

[2020-10-21 12:22] andreasciamanna commented on #26
Hi, thanks for the quick reply!

Static code analysis had little, if anything to do with "testable code".
PHPStan behaves like a compiler. My code does "compile".
The problem is with the dependencies.
WordPress is one of them, and your package, for which I thank you, is meant to solve the issue.

Maybe you may want to consider the option where I might be "bit more" an experienced programmer ;)

I'

[2020-10-21 12:45] szepeviktor commented on #26
Okay!

Just add water :)

[code]

[At the top.](https://github.com/szepeviktor/phpstan-wordpress/blob/master/example/phpstan.neon.dist#L8)

[2020-10-21 13:45] szepeviktor commented on #26
@andreasciamanna Actually I would gladly help you to improve your legacy code base. Please send me [an email](mailto:viktor@szepe.net).

[2020-10-22 07:11] andreasciamanna commented on #26
Great. That worked.

I thought `phpstan/extension-installer` would take care of including this file.

Since it doesn't, I've removed it as it's useless at this point.

Thanks, Viktor!

[2020-10-22 08:16] szepeviktor commented on #26
@andreasciamanna That is very stange!

Could you remove the above config and add `error_log('PHPSTAN-EXTENSION:'.$package->getName());` before
vendor/phpstan/extension-installer/blob/master/src/Plugin.php:112 ?

[2020-10-22 11:58] andreasciamanna commented on #26
@szepeviktor there is not such `extension-installer` folder.

It seems I'm getting a Phar version of the package:

[code]

[2020-10-22 12:35] szepeviktor commented on #26
Then you are not using that package :(

[code]

[2020-10-22 12:48] andreasciamanna commented on #26
Right. I forgot I just removed it. 🤦

I've made the change you asked, but I didn't know where to expect the output.

So I ran `vendor/bin/phpstan analyse`, and now the errors are gone (?).

BTW, running `composer install` shows `PHPSTAN-EXTENSION:szepeviktor/phpstan-wordpress`.

I guess I may have messed up something with Composer when I reported this issue.

Sorry for the waste of time @szepevikt

[2020-10-22 13:18] szepeviktor commented on #26
🤿 I'm a deep see diver who takes care about the underwater part of the iceberg.
I thought the Product Lead of WPML could suggest me to be part-time hired.

[2020-10-23 02:21] #26 closed

[2020-12-07 21:09] claytoncollie opened #28 "Do I need stubs for parent theme?"
I am building a Genesis child theme and phpstan is saying it can't find certain functions that come from the parent theme. Do I need something to pull those in? I am not sure I even know the words to describe what I might need. Stubs?

[code]

After reading the link mentioned above, maybe I need to include the path to the parent theme in on .neon config.

Maybe either of these applies to my situat

[2020-12-08 01:56] szepeviktor commented on #28
Hello @claytoncollie! Of course you need to put `genesis/lib/functions/menu.php` (an others) into `scanFiles:` or [generate stubs](https://github.com/szepeviktor/phpstan-wordpress/tree/master/stub-generators) from the framework.

I see they keep the code for themselves https://my.studiopress.com/themes/genesis/

[2020-12-08 22:03] #28 closed

[2020-12-08 22:09] claytoncollie opened #29 "How to deal with mixed types from WordPress core?"
When I use functions from WordPress, PHPstan is flagging them as having incorrect mixed types when used in `printf` or `sprintf` functions.

First example is: `esc_url( get_permalink() )` which says `Parameter #1 $url of function esc_url expects string, string|false given.` because `get_permalink` return string or integer according to the docs.

Second example is: `get_the_term_list( get_the_ID(),

[2020-12-08 22:09] szepeviktor commented on #28
Thank you @claytoncollie
I've included my extension and removed your CPT-s.

[2020-12-08 22:15] szepeviktor commented on #29
Yes, it is right. False will not fit into printf.
Please consider checking the output.

[2020-12-08 22:16] szepeviktor commented on #29
...or for the type

[code]

But you haven't heard it from me!

[2020-12-08 22:22] szepeviktor commented on #29
Consider Timber v2.

You heard it from me :)

[2020-12-09 17:28] claytoncollie commented on #29
I understand now. `printf` and `sprintf` have their own outputs and the parameter is colliding with that. We rely heavily on those functions so I will ignore these warnings from phpstan. Thanks for the help.

[2020-12-09 17:28] #29 closed

[2020-12-09 17:33] szepeviktor commented on #29
@claytoncollie Can you think of a situation when `get_permalink` returns `false`?

[2020-12-09 17:52] claytoncollie commented on #29
I cannot think of the situation for `get_permalink` to be `false` but we cant control the function or docs since it is in WP core. I think this is more of a `printf` and `sprintf` outputs colliding with `get_permalink` outputs. Neither is wrong but they don't play nicely.

[2020-12-09 18:50] szepeviktor commented on #29
Docs say

I leave it up to you. Robust code is expensive and robustness could only be detected in couple of months of monitoring.

[2020-12-09 19:16] claytoncollie commented on #29
I agree with you that robustness should be the goal. I don't know how to get there without the work around you presented above in many different places.

1. Make my own function with its own docblock
[code]

2. Use timber. (not going down that path)

3. Insert `global $post;` at the top of my functions.

Does that sound like the possible solutions?

[2020-12-09 19:43] szepeviktor commented on #29
WordPress has some substantial problems.
The main one being it lacks templating/routing.
PHPStan is for OOP code. False-returning functions are not OOP. A problem should be [reported in an exception](https://github.com/thecodingmachine/safe) in OOP.

I am not able to resolve them. I am sorry.

[2020-12-09 19:48] szepeviktor commented on #29
But! You can add custom stubs to PHPStan https://phpstan.org/user-guide/stub-files

[code]

[2020-12-11 14:28] johnbillion opened #30 "Treat assertNotWPError() and assertWPError() as type-narrowing functions"
In the WordPress core test suite the following assertion methods are available:

* `$this->assertNotWPError()`
* `$this->assertWPError()`

It would be great if this extension treated these methods as type-narrowing functions, so the following code would not throw an error in PHPStan:

[code]

Currently this triggers the following error because `$terms` is assumed to be `array|WP_Error` on the last

[2020-12-11 14:59] szepeviktor commented on #30
All right.
So you ask for `WP_UnitTestCase_Base::assertNotWPError()` never return `WP_Error` and `assertWPError()` should do the opposite?

[2020-12-11 15:04] szepeviktor commented on #30
Could you try installing `phpstan/phpstan-phpunit`?
https://github.com/phpstan/phpstan-phpunit#readme

[2020-12-11 15:47] johnbillion commented on #30
Yes the idea is that any parameter passed to `assertNotWPError()` cannot be a `WP_Error` in subsequent lines.

https://phpstan.org/writing-php-code/narrowing-types

I tried phpstan-phpunit but it had no effect, but I didn't play with it much.

[2020-12-11 16:24] szepeviktor commented on #30
I hope we can tell PHPStan that `assertNotWPError` is really `$this->assertNotInstanceOf( 'WP_Error', $actual, $message );` https://github.com/phpstan/phpstan-phpunit/blob/master/src/Type/PHPUnit/Assert/AssertTypeSpecifyingExtensionHelper.php

@ondrejmirtes Could you give us directions?

[2020-12-11 16:56] ondrejmirtes commented on #30
Yes, you need to write and register a similar extension that phpstan-phpunit has: https://github.com/phpstan/phpstan-phpunit/blob/master/src/Type/PHPUnit/Assert/AssertMethodTypeSpecifyingExtension.php

[2020-12-11 16:57] ondrejmirtes commented on #30
Some info about them also here: https://phpstan.org/developing-extensions/type-specifying-extensions

[2020-12-11 17:56] szepeviktor commented on #30
Thank you. Now we need those hands writing code.

[2021-01-20 20:39] mundschenk-at opened #33 "Problem with polyfills for compatibility with previous WordPress versions"
As part of making my plugin Avatar Privacy PHP-8-compatible, I added a polyfill for the `is_gd_image` function introduced in WordPress 5.6.0. While my polyfill is guarded by `function_exists`, the stubs in `php-stubs/wordpress-stubs` are not, making `phpstan analyze` fail (due to Composer autoloading my functions before the stubs).

[2021-01-20 23:56] szepeviktor commented on #33
Thank you for your report.
That is a though question.

[2021-01-21 00:02] szepeviktor commented on #33
This is an automatically generated package.
As of today I do not see a solution for WordPress polyfills.

Two bad ones:

1. Use an older stub where that function is non-existent
2. Load WP polyfills in your code

:(

[2021-01-21 01:41] szepeviktor commented on #33
And a number 3: `sed -i -e 's#function is_gd_image#function __is_gd_image#' vendor/php-stubs/wordpress-stubs/wordpress-stubs.php`

[2021-01-21 09:29] szepeviktor commented on #33
Please also see https://github.com/phpstan/phpstan/issues/4407

[2021-02-05 23:38] #33 closed

[2021-03-01 18:41] szepeviktor commented on #30
@monojp Please advise.
What would you do in this case?

[2021-03-02 08:52] monojp commented on #30
I'm not an expert and never used those WP test helpers. But it looks they are at least not part of the official WP release. Are they WP internal? Does WP advise to use them for plugin developers and if the do - how? I quickly searched for it but did not find out much

[2021-03-02 09:59] szepeviktor commented on #30
@mono Here are your suspects
https://github.com/WordPress/wordpress-develop/blob/7d0cb86544dd28df8eaa0cb21f271e99e7e7cc47/tests/phpunit/includes/abstract-testcase.php#L598-L619
part of the WordPress Test Suite.

The problem is these method narrow down types.

[2021-04-05 15:33] mredodos opened #39 "can you add support for woocommerce function ?"
hi, can you add support for woocommerce function ?

[2021-04-05 15:47] szepeviktor commented on #39
Hello! Thank you bringing this up.
Could you point out what WC function needs a PHPStan extension?
Or do you talk about [WC stubs](https://packagist.org/packages/php-stubs/woocommerce-stubs)?

[2021-04-11 23:58] szepeviktor commented on #39
Feel free to comment!

[2021-04-11 23:58] #39 closed

[2021-04-12 17:14] ZebulanStanphill opened #40 "$wpdb->last_error type should be un-narrowed after running $wpdb->query()"
Consider the following code:

[code]

When using `phpstan/phpstan-strict-rules`, the second if statement causes an error to be thrown by PHPStan's analysis:

[code]

The type was narrowed by the first if statement, but since `$wpdb->query()` can change the value of `$wpdb-last_error`, the second if statement is completely valid. The type of `$wpdb->last_error` should be un-narrowed after every `$w

[2021-04-12 17:27] szepeviktor commented on #40
Thank you for the report!
For very WordPressy reasons the stubs are in `bootstrapFiles:` not in `stubFiles:`.
I suspect this is the cause. PHPStan thinks `$wpdb->last_error` cannot be modified.

Could you try editing `vendor/szepeviktor/phpstan-wordpress/extension.neon` as described above and analyze this single file only?

[2021-04-12 17:36] szepeviktor commented on #40
You can add stubs only for `wpdb` class!

[code]

`wp-db.stub`

[2021-04-12 19:39] ZebulanStanphill commented on #40
I just checked: moving one or both of the entries under `bootstrapFiles` to `stubFiles` in the aforementioned `extension.neon` file doesn't get rid of the false positive.

I actually was already using my own stub file for clarifying a few types:

[code]

Adding the code snippet you provided to my stub file didn't get rid of the issue either, and neither did disabling my custom stub file entirely.

[2021-04-12 20:18] szepeviktor commented on #40
I am sorry. All you open a trac ticket and ask WordPress people to move default value from

https://github.com/WordPress/WordPress/blob/058f9903676a7efaee534a682df0a2a8b87574d8/wp-includes/wp-db.php#L80

to the constructor. :( That takes several years.

[2021-04-12 20:18] #40 closed

[2021-04-12 20:19] szepeviktor commented on #40
Maybe if you remove the default value from `$last_error` in WP stubs by for example `sed` command....

[2021-04-12 20:22] szepeviktor commented on #40
💡  These are all the side-effect of me forcing the PHPStan-WordPress marriage!

[2021-04-12 20:27] ZebulanStanphill commented on #40
I tried removing `$last_error`'s default value from `vendor/php-stubs/wordpress-stubs/wordpress-stubs.php`, but it didn't get rid of the false positive, so I don't think the default value has anything to do with the issue. :thinking:

[2021-04-12 20:28] szepeviktor commented on #40
Try `vendor/bin/phpstan clear-result-cache`

[2021-04-13 00:26] szepeviktor commented on #40
https://developer.wordpress.org/reference/classes/wpdb/query/

I was sleeping!
Please check the return value of `$wpdb->query()` instead.

[2021-04-13 15:41] ZebulanStanphill commented on #40
Thanks, that is indeed a better way to check if an error occurred. I had mistakenly thought the function would only return the number of affected rows for queries like `START TRANSACTION`, but upon further inspection of the code, I now see that isn't the case, thankfully. Technically, the type issue with `$wpdb->last_error` still exists, but I can live with that since there no longer appears to be

[2021-04-13 16:17] szepeviktor commented on #40
You're welcome.

[2021-04-18 08:34] mklepaczewski opened #41 "Cannot redeclare wp_set_password() when using roots/bedrock"
It seems that there are few conflicts when using https://roots.io/bedrock/ with `roots/wp-password-bcrypt` which declares its own variants of some funtions:
- wp_set_password
- wp_generate_password
- wp_check_password
- wp_hash_password

Running `vendor/bin/phpstan analyze` throws:
[code]

# Steps to reproduce

[code]

# Workaround

As bad as this is - I just comment out these four functions menti

[2021-04-18 09:09] szepeviktor commented on #41
👍 👍 👍

I also use `sed` to do it.

[code]

This conditional function definition is an awful thing. But WordPress targets non-developers so we have to live with it.

[2021-04-18 09:09] #41 closed

[2021-04-18 09:33] szepeviktor commented on #41
Related to #33

[2021-04-18 10:06] mklepaczewski commented on #41
May I suggest adding your `sed` workaround to `readme.md` (possibly FAQ section)? It seems like this issue will be coming back from time to time.

[2021-04-18 10:12] szepeviktor commented on #41
For sure.

[2021-04-18 10:17] szepeviktor commented on #41
@mklepaczewski Done.

https://github.com/szepeviktor/phpstan-wordpress/commit/452e14714df8a584bd0ebf4c4e10da3936330455

[2021-04-27 18:13] szepeviktor opened #42 "have_posts() is an impure function!"
`wordpress-override.stub`

[code]

[2021-06-19 15:54] szepeviktor opened #45 "Fix CS and static analysis"
If you have a bit of time, please fix the tests.
See CI output for details.

Thank you!

[2021-07-14 08:37] monojp commented on #45
I'll take a look at that

[2021-07-14 08:54] #45 closed

[2021-07-14 09:36] szepeviktor opened #54 "Add functional tests"
Would it be so simple that we add tiny files with WordPress code and run PHPStan on it?

[code]

[2021-07-30 17:50] monojp commented on #30
@johnbillion are you still interested in this? If you could just provide me with an easy to work on example I can implement this next Wednesday, should not be hard. I just don't want to spend ages setting up the WP testing framework that I don't know anything about yet

[2021-08-16 22:04] jcvignoli opened #55 "Question: how to configure phpstan-wordpress to use Neutron Standard?"
Hi,

I'm a phpcs user, using Neutron standard rules.

I've just started using phpstan and phpstan-wordress too. I'm quite new to these tools, I just copied-pasted your neon config files but I can't figure out how to make use of Neutron rules.

Could you kindly help me?

Thanks!

[2021-08-16 22:36] szepeviktor commented on #55
Hello Jean-Claude! Thank you for your question.
PHPCS and PHPStan are two completely different tools, there is no connection between them.

BTW I follow [Neutron](https://github.com/szepeviktor/phpstan-wordpress/blob/master/composer.json#L44) while writing this extension.

[2021-08-16 22:38] szepeviktor commented on #55
What you can do:

- read the README
- see files in `/example` folder
- read PHPStan's documentation

[2021-08-16 22:50] jcvignoli commented on #55
Hi Victor @szepeviktor

Thanks for your quick reply!

I know these are two different tools. However, you mention in phpstan-wordpress readme that Neutron rules can be applied to phphstan-wordpress. I'd like to know how to configure it, I haven't found any example provided. You just mention it, and I can't find any readymade neon config.

Thanks!

[2021-08-17 00:15] szepeviktor commented on #55
The "Make your code testable" section contains some advises on :) how to make your code testable.

If you write your code following Neutron Standard your code will be more testable.

[2021-08-17 00:28] jcvignoli commented on #55
Please bear with me if I'm not understanding the obvious, but here is my phpstan.neon:

[code]
Since I've installed Neutron Standard rules, I guess these are not automatically included in phpstan, rigth?
Should I add/remove includes in the first lines?

[2021-08-17 08:00] szepeviktor commented on #55
Neutron is for completely different software called PHPCS.
PHPStan has **no** connection with PHPCS/Neutron.

[2021-08-18 13:57] jcvignoli commented on #55
I got it now. PhpStan doesn't rely on external rules.

Noted and thanks for your help and excellent library!

[2021-08-18 15:35] szepeviktor commented on #55
Neutron rules are for PHPCS, not external ones for PHPStan.

[2021-08-18 15:35] #55 closed

[2021-10-24 15:28] #54 closed, assigned to nobody

[2021-10-24 20:17] johnbillion opened #63 "Add dynamic return type for generic functions"
There are several generic functions in WordPress that return a value of the same type as passed in. Here's my list so far:

* `addslashes_gpc()`
* ~~`map_deep()`~~
* `rawurlencode_deep()`
* `sanitize_category()`
* `sanitize_post()`
* `sanitize_term()`
* `stripslashes_deep()`
* `urldecode_deep()`
* `urlencode_deep()`
* `wp_slash()`
* `wp_unslash()`

We should be able to come up with a dynamic retur

[2021-10-27 15:04] Mte90 opened #64 "Alert when add_filter is used with a function with type hinting"
So after a discussion on #core-conding-standards it is clear that is important to suggest to the developers when a function is used in a filter to not use type hinting in the function definition.
This because there are other developers that doesn't follow the standards and this can create fatal errors because a filter like `the_excerpt` return `null` instead of `string`.

So ideally there should b

[2021-10-27 15:22] #64 closed, assigned to nobody

[2021-10-29 16:32] johnbillion opened #65 "Extend PHPStan scanning to cover `@param` tags of `apply_filters()` and `do_action()`"
No idea if this is possible, I'm going to look into it and maybe ask on the PHPStan discussion forums.

When PHPStan encounters a call to `apply_filters()` or `do_action()` it should validate the types of the parameters passed to it according to the `@param` tags in the preceding docblock.

Example:

[code]

Here, PHPStan should validate that `$date`, `$format`, `$timestamp`, and `$timezone` are o

[2021-10-29 18:57] szepeviktor commented on #65
@canvural Could you help with two sentences?

[2021-11-02 11:03] canvural commented on #65
Hi, sounds like this can be solved by writing [stubs](https://phpstan.org/user-guide/stub-files) for `apply_filters`

[2021-11-02 11:41] szepeviktor commented on #65
@canvural I see :) You know, in WordPress you can modify values by going through a set of filters. So `apply_filters` appears several times in WordPress. We need to typehint each of them **separately**.

[2021-11-02 12:14] canvural commented on #65
I see. So it's complicated. I don't think this can be done just with docblocks. Maybe an extension can be written, but it's still hard because filters are registered with `add_filter` So it's dynamic.

[2021-11-06 08:03] IanDelMar opened #71 "Compatibility of WP_Nav_Menu_Item with WP_Post"
PHPStan throws "Parameter # 2 $item (WP_Nav_Menu_Item) of method Class_Name::start_el() should be compatible with parameter $item (WP_Post) of method Class_Name::start_el()" when analyzing

[code]

[2021-11-06 08:07] #71 closed

[2021-11-06 08:09] szepeviktor commented on #71
I think the most one can do is to ignore this specific error.

[2021-11-06 08:12] herndlm commented on #71
We had a similar problem and ignored it too.. Wonder if an intersection type at some place could help us?
I think the last time I checked it I couldn't find a solution

[2021-11-06 08:13] szepeviktor commented on #71
Please see this old PR https://github.com/wp-bootstrap/wp-bootstrap-navwalker/pull/453/files#diff-6f19df6a6307a48db0940e6897591fb08776d2db8a6134737aa708defdb5c92dR17-R20

[2021-11-06 08:19] herndlm commented on #71
In user code, right. I was wondering if we can fix it here. But I guess, we can't. A post's a post and simply doesn't have those atts

[2021-11-06 08:33] szepeviktor commented on #71
Yes.This package is a minimal effort to clean up the mess in WordPress core.
It is not my intent to fix everything including this one.

[2021-11-18 15:37] herndlm opened #85 "add_menu_page expecting a callable but callable|callable-string should be fine too"
Is this a problem we can fix? Looks like it's coming from the stubs / wordpress docs, but actually it is supposed to be used with callable strings, right? E.g. as in
[code]

phpstan reports
[code]

I guess many many more functions are having the same problems?

This is more like a discussion, @szepeviktor want to enable the discussions feature in this repo? ;)

[2021-11-18 15:51] szepeviktor commented on #85
Let's keep everything in issues.

:) Is `callable-string` a Martin-invention?
PHPStan is a tool for OOP. Global function names are not supported as callable yet. There is an open issues for this.

[2021-11-18 15:54] szepeviktor commented on #85
In normal OOP world `'my-docs-function'` is `[MyClass::class, 'myDocsFunction']` or `[$this, 'myDocsFunction']`.

[2021-11-18 16:21] johnbillion commented on #85
`my-docs-function` isn't a valid function name so it's not a valid callable. Should it be `my_docs_function` ?

[2021-11-18 16:35] herndlm commented on #85
`callable-string` is real :)

And yeah this was an invalid example, sorry. Was reported by a colleague and the default value of '' is also is not accepted. Not a 100% sure if it would accept valid function names, but I think it doesn't

I prefer real callables but I think that's not the WP way, right?

[2021-11-18 16:38] johnbillion commented on #85
If you pass a valid callback function name to that parameter there should not be an error. What's the actual value you're passing? Is it the string name of a function that exists? `my_function` is a valid callable as long as that a function with that name exists. OOP has nothing to do with it.

[2021-11-18 16:41] herndlm commented on #85
OK, thx. It's only about the default value of '' then. Which cannot be specified in case one of the later args needs to be set.

[2021-11-18 16:43] johnbillion commented on #85
Ah yes the default value of `''` is a known issue, it should be nullable instead. I think that's covered in one of the PHPStan tickets for WordPress core, maybe https://core.trac.wordpress.org/ticket/52217

[2021-11-18 16:44] herndlm commented on #85
Thx for the insights! That's enough for me :)

[2021-11-18 16:45] #85 closed

[2021-11-24 07:32] #65 closed

[2021-12-15 14:28] dingo-d commented on #42
Is this related to why the phpstan reports for this:

[code]

`While loop condition is always true.` ?

I got this notice in phpstan once I updated to phpstan v1

[2021-12-15 17:17] dingo-d commented on #42
Thanks, I'll just have to ignore this line per line 😅

[2021-12-15 17:27] jeherve commented on #42
You could try to edit your `phpstan.neon.dist` to always ignore that warning, by targetting something like:
`message: '#While loop condition is always true#'`

While it may catch other use-cases, it may help a bit instead of doing it line by line?

[2021-12-15 17:47] dingo-d commented on #42
Yeah, I'd like not to ignore all those cases, because it might ignore legitimate notices 🙂 So one by one would be good alternative 😄

[2021-12-15 18:56] szepeviktor commented on #42
[wordpress-stubs.txt](https://github.com/szepeviktor/phpstan-wordpress/files/7722001/wordpress-stubs.txt)

Try with these stubs! It contains `class-wp-query.php` with all its source code.

[2022-01-11 11:57] j-manu opened #89 "Deprecation Warnings of missing return types in WP stubs"
When running analyze I get the following deprecation warnings. I'm using PHPStan using docker.
[code]

### phpstan.neon
[code]

[2022-01-11 12:01] szepeviktor commented on #89
Hello @j-manu! 👋
Could it be that you somehow analyze WP stubs?
What is your PHP version?

[2022-01-11 12:04] szepeviktor commented on #89
What directory to you map to `/app`?
https://phpstan.org/user-guide/docker#usage

[2022-01-11 17:32] j-manu commented on #89
@szepeviktor Wow. That was a quick response :)

I have created a minimal reproduction repo -  https://github.com/j-manu/phpstan-wp-poc

phpstan run which shows the deprecations - https://github.com/j-manu/phpstan-wp-poc/runs/4779013038?check_suite_focus=true

[2022-01-11 18:00] szepeviktor commented on #89
That container runs on PHP 8.1 I suspected that!
https://github.com/szepeviktor/phpstan-wp-poc/runs/4779346248?check_suite_focus=true#step:4:6

This project is not yet PHP 8.1 compatible - much like WordPress core :)

[2022-01-11 18:00] #89 closed

[2022-01-11 18:06] ondrejmirtes commented on #89
@szepeviktor The official one does: https://phpstan.org/user-guide/docker

[2022-01-11 18:18] szepeviktor commented on #89
@ondrejmirtes Thank you.
Seems like Alpine upgraded to PHP 8.1
![kép](https://user-images.githubusercontent.com/952007/148998997-c82e77f5-74fb-42d1-bb3e-891d87233904.png)

[2022-01-11 18:33] j-manu commented on #89
@szepeviktor Thank you! For the WP extension for phpstan and for the prompt response to the issue.

@ondrejmirtes Do you mind pinning the PHP version in docker to 8.0? i.e use `FROM php:8.0-cli-alpine` here https://github.com/phpstan/phpstan/blob/master/docker/Dockerfile#L1 You can even create tagged releases just like PHP to cater to both 8.0 and 8.1 at the same time.

[2022-01-11 18:35] szepeviktor commented on #89
@j-manu Please do open a PR for that.

[2022-01-16 14:11] Mysak007 opened #90 "Cannot redeclare wp_set_password()"
Hello we have wordpress installed by composer. The composer installs it to two separate folders (wp where are all core files, wp-content etc.) And when installing something else(i.e. plugins etc.) they are installed to separate folder wp-content in root. Wordpress works good. But when trying to run phpStan there is an error
`Fatal error: Cannot redeclare wp_set_password() (previously declared in C

[2022-01-16 14:24] szepeviktor commented on #90
Hello Michal! 🇨🇿
It is talked about in a pinned issue and at the end of the README.
https://github.com/szepeviktor/phpstan-wordpress/blob/master/README.md#dirty-corner-faq

You may also remove `roots/wp-password-bcrypt` just before static analysis.

[2022-01-16 14:29] szepeviktor commented on #90
BTW You find 4 Composer configs in here https://github.com/szepeviktor/debian-server-tools/tree/master/webserver/wp-install on how I install [WordPress](https://github.com/szepeviktor/debian-server-tools/blob/master/webserver/WordPress.md).

[2022-01-16 14:29] #90 closed

[2022-01-27 15:56] janw-me commented on #42
This isn't about WP_Query only if you wrap the `while` in the `if` it assumes it's true and always will untill the end of time.
The same happens with the ACF function `have_rows` used by the [repeater](https://www.advancedcustomfields.com/resources/repeater/) field.
The example below gives an error 3 out of 4 times.

[code]

I'm willing to look into this although I have no experience with stanphp

[2022-01-27 16:25] szepeviktor commented on #42
Hello Janw!
PHPStan (not stanphp) is an OOP tool, it won't work for meritorious impure function.
Please add `@phpstan-impure` to all stubs that need is. There is `sed` for you!

[2022-03-08 20:05] MocioF opened #92 "array_map callable not accepted"
Writing a class for my plugin, I used this code to sanitize input:
[code]
where `$input['endpoints']` is an array.

PHPStan seems not to see `esc_url_raw` as a callable function, and says:
[code]

I am not sure if this is related to stubs, or it is a syntax problem.

[2022-03-08 20:10] szepeviktor commented on #92
Hello @MocioF! 👋
Thank you for this issue.

PHPStan is an tool for OOP. It does not recognize a global function as a callable.

[2022-03-08 20:15] szepeviktor commented on #92
No! I was wrong. Recently it does support that.
https://phpstan.org/r/2d4c20b6-4b7f-4511-a837-18127e64d7f3
What version of PHPStan do you have?

[2022-03-08 20:20] szepeviktor commented on #92
Got it!

[code]

[2022-03-08 20:20] #92 closed

[2022-03-09 13:29] MocioF commented on #92
I will try, but I am not sure the problem is this one.
https://phpstan.org/r/1921d0e3-e3b7-4d9e-8e96-968a9638f2b2

The problem in my code (a class in a wordpress plugin) is with parameter #1 of array_map.
It seems that 'esc_url_raw' is not seen as a callable.

[2022-03-09 13:44] szepeviktor commented on #92
The cause of the problem is that `esc_url_raw`'s second parameter is an **array**, not a string.
https://developer.wordpress.org/reference/functions/esc_url_raw/

[2022-04-26 11:38] johnbillion opened #97 "Move dynamic return type extensions into wordpress-stubs"
@szepeviktor [PHPStan 1.6 added support for conditional return types in docblocks](https://phpstan.org/blog/phpstan-1-6-0-with-conditional-return-types), eg `@return ($as_float is true ? float : string)`.

Some of the dynamic return type extensions (eg. `CurrentTimeDynamicFunctionReturnTypeExtension`) could be replaced by a conditional return type doc in the `wordpress-stubs` repo instead. Then we

[2022-04-26 11:41] johnbillion commented on #97
Example (untested):

[code]

[2022-04-26 11:53] szepeviktor commented on #97
I go crazy!
You have to know I'm old-fashioned guy: keep a Single type in a variable.

[2022-04-26 11:55] szepeviktor commented on #97
As for the answer: I have no clue how to manipulate stubs in a sustainable fashion.
Keep a big `array<Class::method, $returnType>`?

[2022-04-26 11:58] johnbillion commented on #97
I would need to check but I think [the existing functionMap file](https://github.com/php-stubs/wordpress-stubs/blob/master/functionMap.php) could be used.

Example:

[code]

[2022-04-26 12:49] szepeviktor commented on #97
All right.

[2022-04-28 15:08] herndlm opened #99 "Performance issues"
I noticed that this extension increases both CPU and memory resources quite a bit. Sorry, I did not have time to profile it, but the "problems" seem to be there since 1.0.0 at least already.

I have quite a small plugin that uses the latest phpstan, phpstan-webmozart-assert extension and phpstan-wordpress extension.

Test case running `vendor/bin/phpstan --debug --verbose analyse`
With this extens

[2022-04-28 15:11] herndlm commented on #99
I thought about that one as well, but assumed it was added very recently (after 1.0.0). I noticed that all versions since 1.0.0 are more or less affected. Previous ones are just a tiny bit faster. Must be something older I assume

[2022-04-28 15:35] herndlm commented on #99
OK, I tool a beer home with me from the office fridge I'd like to drink. I'll promise I'll only do that if I either fix this or at least know what _exactly_ is causing it. Wish me luck :)

[2022-04-28 15:35] szepeviktor commented on #99
Try commenting out this line see seconds and megabytes!
https://github.com/szepeviktor/phpstan-wordpress/blob/00fb9ff3b8199408ead0624be7f74f50e05d935a/extension.neon#L83
(there will be 1 zillion errors)

[2022-04-28 20:12] herndlm commented on #99
yep, you're absolute right. this "stub file" which is used as bootstrap file is a bit over 4M big and the reason for that apparently. It looks also like it got worse with the latest phpstan versions, e.g. if I go back I can see that almost every minor increased resources a bit :/
1.0.0: 10s/225M, 1.6.0: 14s/305M
1.0.0 (without stubs): 2s/70M,1.6.0 (without stubs): 3s/85M

[2022-04-28 20:51] herndlm commented on #99
fyi @ondrejmirtes, summary: apparently huge stub/bootstrap files make analysis slow and hog memory. splitting them into smaller files seems to be fine or better at least. does it make sense to look into phpstan itself improving handling of such big (~ 4M) stub/bootstrap files?

[2022-04-28 21:02] herndlm commented on #99
and another thing that seems to be improving the situation extremely is instead of specifying the huge stubs file as bootstrap file, directly specifying a wordpress-checkout via `scanDirectories`. That was really simple and gave me the best results so far. but how can this be done user friendly for people using this extension 🤔

[2022-04-29 05:24] ondrejmirtes commented on #99
can you try it with bleedingEdge enabled? And can you find the actual reason why is it slower / takes more memory with php-meminfo? 😊

[2022-04-29 06:40] herndlm commented on #99
does it really? I thought that options was specifically there for such cases, e.g. https://phpstan.org/user-guide/discovering-symbols#third-party-code-outside-of-composer-dependencies
but if you can get me some example or describe that case further I'm happy to test :)

ok, got some new numbers. Unfortunately I'm not really seeing a difference with bleedingEdge
[code]
Sure, I can try to profile it

[2022-04-29 06:46] ondrejmirtes commented on #99
Can you please publish the project so I can test it myself and see if I can rule out the cause?

[2022-04-29 07:09] herndlm commented on #99
Not the one I currently test with unfortunately, but it's easy to reproduce by basically just using this extension. I prepared something at https://github.com/herndlm/phpstan-wordpress-stubs-perf-repro

[2022-04-29 08:01] om4csaba commented on #99
Another aspect is to reduce the size of the `wordpress-stubs.php` file.

 I wonder whether PHPStan needs to know private/protected method signatures. The WordPress Stubs are generated via the [PHP Stubs Generator](https://github.com/php-stubs/generator), which includes all methods from a class, not just the public ones.

Keeping only the public methods will reduce the file by around 10 per cent. I

[2022-04-29 08:33] szepeviktor commented on #99
I do not have records or an actual example. I have also tries `scanFiles:` but it failed. Maybe it was a WP-CLI command that needs to extend `WPCLI_Command`.

Simply I don't remember.

[2022-04-29 09:16] ondrejmirtes commented on #99
This is the profile with the extension included: https://blackfire.io/profiles/8e044619-2f50-474f-87a9-dc26b5ba230c/graph?settings%5Bdimension%5D=wt&settings%5Bdisplay%5D=landscape&settings%5BtabPane%5D=nodes&selected=in_array&callname=main()&constraintDoc=

The slowest thing is PHPDoc parsing. Because everything is in a single file, PHPStan has to go through all PHPDocs present there. Why splitti

[2022-04-29 09:19] szepeviktor commented on #99
Thank you for your work in advance!

[2022-04-29 09:19] #99 closed

[2022-04-29 09:29] herndlm commented on #99
And another workaround is still, even without any changes of this extension, to specify a WordPress directory via `scanDirectories`, e.g. https://github.com/johnpbloch/wordpress-core via vendor if that package is installed as dev dep (which also helps phpstorm).

[2022-04-29 09:31] ondrejmirtes commented on #99
FYI `scanDirectories` can work only with bleedingEdge enabled - if you extend/implement some of those classes.

[2022-05-03 03:08] Flynsarmy opened #102 "Call to function is_wp_error() with int<0, max> will always evaluate to false."
In phpstan-wordpress v1.1 (not previous versions) with PHPStan level 6, when running something along the lines of:
[code]
I get the errors:

This function can return an instance of WP_Error though [[1]](https://github.com/WordPress/wordpress-develop/blob/5.9/src/wp-includes/post.php#L4093)[[2]](https://github.com/WordPress/wordpress-develop/blob/5.9/src/wp-includes/post.php#L4142)[[3]](https://git

[2022-05-03 04:30] herndlm commented on #102
The return type extension makes it quite smart there. Are you sure that the `$wp_error` argument, which is false by default, is set to true? Without that it will never return `WP_Error`.

[2022-05-03 04:34] Flynsarmy commented on #102
Ahh, you're absolutely right. My bad!

[2022-05-03 04:34] #102 closed

[2022-05-18 16:39] johnbillion opened #106 "Add type checking for hook callbacks in `add_action` and `add_filter`"
I'm planning on working on some rules that check the use of `add_action()` and `add_filter()` when the action or filter is from WordPress core. [The wp-hooks library](https://github.com/johnbillion/wp-hooks) facilitates this, and [the wp-hooks-generator library](https://github.com/johnbillion/wp-hooks-generator) facilitates this for hooks in third party plugins and themes (although I'm only concen

[2022-05-18 16:43] szepeviktor commented on #106
High expectations!
Thank you.

[2022-06-01 21:29] szepeviktor opened #109 "Coverage calculation problem"
Contributions are welcome!

[code]

[2022-06-11 19:37] szepeviktor commented on #63
[code]

[2022-06-30 00:47] #63 closed

[2022-07-05 19:09] herndlm commented on #109
jfyi I took a look and wanted to add that the coverage metric is a bit misleading here. E.g. `DynamicReturnTypeExtensionTest` has the dataprovider `dataFileAsserts` that gathers assert types of many files which uses and actually covers many of the `DynamicFunctionReturnTypeExtension` classes implemented here,  e.g. `ShortcodeAttsDynamicFunctionReturnTypeExtension`.
And in the actual test method `t

[2022-07-05 19:22] szepeviktor commented on #109
How could we become phpunit coverage friendly?
Maybe @ondrejmirtes could help.

[2022-09-04 09:51] mundschenk-at opened #115 "Any good solution for WP array shapes not being recognized by PHPStan?"
Is there currently any good solution (other than disabling the warning) for PHPStan not recognizing WordPress Documentation Standards array shape definitions?

[code]

[2022-09-04 10:10] szepeviktor commented on #115
Guten Tag @mundschenk-at!! 👋🏻

We are doing that over at WordPress core stubs.
https://github.com/php-stubs/wordpress-stubs/blob/df4eef79b6a7f835e9c31a75e7ef1f513a0cb03d/visitor.php#L814-L821
But it work during parsing with `nikic/php-parser`.

So
1. parse original WP-style code
2. insert `@phpstan-*` tags
3. use it in static analysis

That's it!

[2022-09-04 10:12] szepeviktor commented on #115
💡 BTW "WordPress Documentation Standards" is not a standard.

[2022-09-04 10:23] mundschenk-at commented on #115
Please don't preach. It is a standard within the WordPress ecosystem, which as far WordPress plugins are concerned, matters more than adoption in the wider PHP community.

[2022-09-04 10:24] szepeviktor commented on #115
Okay-okay. Sorry.
I'm just very angry for me being part of this ecosystem.

[2022-09-04 10:27] mundschenk-at commented on #115
How would I integrate this solution into a PHStan check? I really don't want to statically insert additional tags that simply mirror existing information in another format. I'm fine with an additional preprocessing step that can be automated from e.g. a composer script (or a GitHub action, though I'd prefer being able to continue to run all checks locally).

[2022-09-04 10:28] mundschenk-at commented on #115
That I can understand very well. It's why I have been neglecting my plugins, because project leadership & lack of governance continues to disappoint.

[2022-09-04 10:29] szepeviktor commented on #115
Yes!
Develop a tiny tools that inserts `@phpstan-param` tags based on the above linked file
then run it just before static analysis in your CI workflow.

[2022-09-04 10:33] mundschenk-at commented on #115
OK, I see. So there is no existing tooling. I fear that creating that will be beyond the time I am currently willing to spare on WordPress stuff.

[2022-09-04 10:33] szepeviktor commented on #115
I would ver much star that project of yours!

[2022-09-04 10:36] #115 closed

[2022-09-04 10:41] mundschenk-at commented on #115
Come to think about this, wouldn't this be a good addition for this extension? It already does something similar for hook `@param` tags, no?

[2022-09-04 10:53] szepeviktor commented on #115
I think that `phpstan-wordpress` in its current form is a space 👨🏻‍🚀 age tool for WordPress developers.

[2022-09-04 10:55] johnbillion commented on #115
The `php-stubs/wordpress-stubs` package converts WordPress syntax into PHPStan syntax here: https://github.com/php-stubs/wordpress-stubs/blob/df4eef79b6a7f835e9c31a75e7ef1f513a0cb03d/visitor.php#L641-L645 . Ideally that code should be moved from `php-stubs/wordpress-stubs` to ``php-stubs/generator` so it can be used by packages other than WordPress core.

[2022-09-11 17:06] claytoncollie commented on #29
I think I finally understand this concept now. If a function returning mixed types, I have to check the type and return what the next function needs. In this case, `esc_url` only accepts a `string` value so we need to make sure we send it a string in any case, true or false or empty or null.

[code]

Take a little extra code but this is more type safe than `echo esc_url( get_permalink() );`

[2022-09-11 17:09] szepeviktor commented on #29
Yes.

1. get_permalink
2. check its return value
3. give it to esc_url

[2022-09-22 11:27] swissspidy opened #116 "Add dynamic return type extension for `get_sites()`"
The `get_sites()` function in WordPress returns of `WP_Site[]`, `int[]` when 'fields' is set to 'ids', or `int` when 'count' is passed as a query var.

[2022-09-22 11:33] szepeviktor commented on #116
Hello Pascal!
We need a diligent contributor! 🙃

[2022-09-22 12:03] szepeviktor commented on #116
💡 Viktor does not let others set up multisite installations.

`if (multisite) then exit!`

[2022-09-22 13:14] #116 closed

[2022-11-09 20:34] szepeviktor opened #120 "Theme-related unit test errors"
There are some.
https://app.travis-ci.com/github/szepeviktor/phpstan-wordpress/jobs/588038287 👀

[2022-11-09 21:54] herndlm commented on #120
was fixed with https://github.com/szepeviktor/phpstan-wordpress/pull/122. the theme stuff was basically deactivated / not working with newer phpstan versions. maybe you want to make another patch release later to get this out too :/

[2022-11-09 21:56] herndlm commented on #109
fyi this was also briefly discussed in https://github.com/phpstan/phpstan/discussions/8238 and apparently it is a known problem, the code coverage via dataproviders is currently just wrong. I don't have any fix for this and I think Ondrej doesn't have either atm since he's not pursuing code coverage

[2022-11-09 21:58] #120 closed

[2022-11-10 10:22] swissspidy opened #125 "False positives in `add_filter()` type checking"
Re-sharing from https://github.com/szepeviktor/phpstan-wordpress/pull/107#issuecomment-1309987538

The new rules check that callbacks added for `add_filter` actually return a value.

In my initial testing it doesn't always work, the rule only seems to check the return type declaration, but is ignoring any `@return` docblocks.

Example:

https://github.com/GoogleForCreators/web-stories-wp/blob/c3b5

[2022-11-10 10:27] szepeviktor commented on #125
Let me live!! Avoiding return type must be because of non-expert users of your plugin.

Supporting that seems to be encouraging people to make mistakes.
But I hear: _You know, Viktor! WordPress!_ 😢

[2022-11-10 10:35] johnbillion commented on #125
@swissspidy Does the analysis pass if you add `declare(strict_types=1);` to the top of the file?

[2022-11-10 10:36] johnbillion commented on #125
If so, I'll need to look into how PHPStan varies its type checking based on that strict flag because I haven't figured it out yet.

[2022-11-10 10:37] #109 closed

[2022-11-10 10:45] swissspidy commented on #125
`declare(strict_types=1);` doesn't appear to make a difference.

[2022-11-10 11:26] herndlm commented on #109
But I was thinking into looking this on phstan side a bit more. I'll let you know if I find out more

[2022-11-10 12:05] szepeviktor commented on #109
I'm not willing to work on this package as WordPress core makes it impossible to work normally.

[2022-11-10 12:08] szepeviktor commented on #109
This was a simple package back then.
Now it needs a LOT of PHP code to handle weird WordPress core functions.

[2022-11-10 14:38] #30 closed

[2022-11-11 08:59] herndlm commented on #125
I found another false-positive with a mixed return type (which currently cannot be distinguished from a no return which is also mixed I think). I'll also try to check if I can improve it

[2022-11-11 09:11] johnbillion commented on #125
I started adding some failing tests to #130

[2022-11-11 09:23] herndlm commented on #99
reported at phpstan as https://github.com/phpstan/phpstan/issues/8349 so that we don't forget

[2022-11-12 14:57] #125 closed

[2022-11-12 16:19] herndlm commented on #106
This was completed, wasn't it? 🎉

[2022-11-12 16:21] szepeviktor commented on #106
I do not follow the development :)

[2022-11-14 12:13] johnbillion commented on #106
This was only partially completed, I'll open a follow-up issue with the details.

[2022-11-15 16:04] menno-ll commented on #106
Also one extra thing, which is more an opinion i would like to start a little discussion about.

When creating a callback function for an action, with this new set of rules, a return type of `void` is forced for that function.
However, because of it beeing an action, nothing would happen if you would let the callback function return a value.
So why do I bring this up?
It's because in some occasion

[2022-11-15 16:37] johnbillion commented on #106
@menno-ll Are you using version 1.1.5? Issues with `mixed` should have been fixed in that version. If so, can you open a new issue please?

Regarding returning a value from an action, I can see how it's beneficial to reuse functions but at the same time a developer looking at your `set_custom_meta()` function would, rightfully, expect its return value to be used, which is not true, and can cause c

[2022-11-16 08:59] menno-ll commented on #106
Hi @johnbillion

Thank you for the quick response!

You were right, we made the discovery with the `mixed` return type the day before v1.1.5 came out, and did not notice there was a new version where it was fixed. And yesterday I did not notice that v1.1.5 contained the fix, as it was not mentioned in the description of that release.
I've upgraded to v1.1.5 and can confirm this resolved the issue.

[2022-11-17 14:32] arnaudpfu opened #133 "Internal error: Internal error: Multiple variants - use selectFromArgs() instead."
I am using PHPStan via the last version of szepeviktor/phpstan-wordpress.

I get this error when I want to analyse my code.

[code]

I found that this issue comes from this section of code
This code trigger the issue:

[code]

And this code works:
[code]

How should I do to be able to use the first syntax ? I think that I need to tell to PHPStan than the values in the ACTIONS array corresponds to

[2022-11-17 14:45] szepeviktor commented on #133
Hello Arnaud! 👋🏻

I hope @johnbillion will reveal the cause of your error.

BTW The second version is more readable!

[2022-11-17 14:47] szepeviktor commented on #133
After looking at your intention I suggest you my three hook thingies :)
https://github.com/szepeviktor/Toolkit4WP/tree/master/src

[2022-11-17 14:52] johnbillion commented on #133
Thanks for the report, I'll take a look.

[2022-11-17 18:14] arnaudpfu commented on #133
Sorry @szepeviktor but I haven't found why your repo could help me. 😅

[2022-11-17 18:20] szepeviktor commented on #133
Those 4 `Hook` classes replace `add_action` and `add_filter`.
[code]
... that is all you need.

[2022-11-17 18:49] arnaudpfu commented on #133
@szepeviktor I prefer the first syntax because it enables me to set several ajax hooks in the same place :
[code]

I find that way of doing cleaner.

I have read the codebase of your hooks. However I can't see when I can set the name of the method, that is why I don't see how I could achieve to do what I want in this way.

[2022-11-17 19:01] szepeviktor commented on #133
@arnaudpfu Okay! Here are all four examples.

[code]

[2022-11-17 19:42] szepeviktor commented on #133
@arnaudpfu Or the best way! You could match method names and AJAX action names!

[code]

[2022-11-17 22:50] arnaudpfu commented on #133
@szepeviktor Thanks a lot for your time! 😁
Based on your last msg I tried this code:
[code]

But I get the exact same error...
Moreover it annoys me a bit to use third party code to fix this kind of issue. As code works outside phpstan...

[2022-11-17 23:07] szepeviktor commented on #133
[code]

💡 The whole point of using reflections is to go without the `ACTIONS` array.

[2022-11-17 23:09] szepeviktor commented on #133
All right. I see you don't want to rename your methods ...

[2022-11-17 23:11] arnaudpfu commented on #133
Okay I understand, yes I don't want to rename it.

[2022-11-24 13:33] johnbillion commented on #133
I'm also seeing this problem on one of my own plugins now. I'm working on a fix but for some reason I can't get the same error to occur during the unit tests. Working on it.

[2022-11-25 00:02] jwittorf commented on #15
Hi and sorry to bump into this issue but I'm using a pretty vanilla setup and keep getting reports that global variables like `$wpdb` or `$wp_version` are not defined.

Am I missing some kind of configuration for WordPress? My expectation was that PhpStan with this plugin would only report "really bad" issues and cover some "WordPress-specifics" such as these global variables.

So: am I missing so

[2022-11-25 03:19] szepeviktor commented on #15
Hello @jwittorf 👋🏻

1. WordPress exposes constants through core function
2. Constants not having these functions should not be used
3. Please do not tell anyone about https://github.com/php-stubs/wordpress-globals

💡 `$wpdb` is included in `php-stubs/wordpress-stubs`

[2022-11-27 20:27] swissspidy opened #134 "Add dynamic return type extension for `WP_Term_Query()`"
Same as `GetTermsDynamicFunctionReturnTypeExtension`, but just for `WP_Term_Query()`

See also #48 for `WP_Query`

Logic is as follows:

https://github.com/WordPress/wordpress-develop/blob/bdc2084b30fd842fe862f656aafd1a7c46c53317/src/wp-includes/class-wp-term-query.php#L314-L339

[2022-11-27 20:28] swissspidy commented on #134
See also #48 for `WP_Term_Query`